{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(@hono/(.*)$)",
    "",
    "^(~/*)",
    "",
    "[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
